# AutoRecon
python-dotenv
requests
beautifulsoup4
reportlab
flask
packaging
colorlog
colorama
yaspin
tqdm
rich
pypdf
questionary
sqlmap

# Sublist3r
argparse
dnspython
requests

# Shodan integration
shodan

#DOM XSS via headless browser
playwright

# Parameter discovery
arjun
